# Mac files
.DS_Store?
Icon?

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Apache log folder
logs/*

# TFD specific files
content/www/*.php
!content/www/index.php
content/masters/*.php
!content/masters/master.php
!content/masters/404.php
content/admin-dashboard/*.php
!content/admin-dashboard/index.php
content/routes.json

# Some testing files
public/uploads/*