# See http://help.github.com/ignore-files/ for more about ignoring files.
#
# This ignore file includes Linux, Mac and TextMate ignores as well as some specific TFD ignores

# Linux
.*
!.gitignore
*~
.directory

# Mac
.DS_Store
._*
.Spotlight-V100
.Trashes

# TextMate
*.tmproj
*.tmproject
tmtags

# TFD
.tfdrevision