### PHP settings (these may not work on all servers) ###
### These rules will be deleted in an upcoming version ###
	php_flag display_errors on
	php_flag register_globals off
	php_flag magic_quotes_gpc off
	php_flag register_long_arrays off
	php_flag short_open_tag on

### Set Server Environment ###
	SetEnv ENV DEVELOPMENT

### Rewrite on ###
	RewriteEngine On

### Not recommended to have the content and tfd folder in the root, but if they did... ###
	RewriteRule ^content/(.*)$ 404 [L]
	RewriteRule ^tfd/(.*)$ 404 [L]

### points all requests that end in image/* or img/* to their respective folders. ###
### These rules will be deleted in an upcoming version ###
	RewriteRule img/(.*)$ img/$1 [L]
	RewriteRule image/(.*)$ image/$1 [L]

### Point all non-existing requests to index.php ###
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?tfd_request=$1&%{QUERY_STRING}